h2 {
  padding: 1rem;
}
ul.stages {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
  }
}
